
body {
    background-color: black;
  }
  /*Navegador*/

.Logogif{
    width: 300px;
    margin-left: 30px;
  
  }
  header {
    
    margin-top: 0em;
    left: 0;
    right: 0;
  }
  
  nav ul li {
    border-radius: 3px;
    font-family: 'Orbitron', sans-serif;
    margin-left: 30px;
    :hover {
    border-radius: 3px;
    background: tomato;
    color: white;
    -webkit-transition: background-color 1s;
    transition: background-color 1s;
    display: block;}
  }
  
 
  /*Body*/
.img-fluid{
    border-radius: 10px;
  }
  
  .container-lg {
    background-color: #0e0a13;
  }
  
  .h2 {
    color: tomato;
    font-family: 'Orbitron', sans-serif;
  }
  
  .h4 {
    color: rgb(170, 157, 112);
    font-family: 'Fjalla One', sans-serif;
  }

  .links {
    display: flex;
    align-items: center;
    justify-content: center;
    a {
        margin: 0 10px;
        i {
            font-size: 3rem;
        }
    }
}

/*Footer*/
.ms-3 {
    color: tomato;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
    ul li {
        line-height: 1.8;
    }
    h2 h3 h4 h5 h6{
        font-size: 20px;
    }
}

.footer-links {
    background: black;
    color: tomato;
    font-size: 16px;
    padding: 10px 0;
}
.footer {
    background: #0e0a13;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 0;
    text-align: left;
    padding-bottom: 20px;
    margin: 0 auto;
}


/* Discografia */
.discos{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    a {
        margin-left: 10%;
        margin-right: 10%;
        max-width: 80%;
    }
}

/* Social */
.social {
    margin: 50px;
    p {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    color: white;
  }
}

/* Shows */

 
.shows{
    ol{
        li{
         font-size: 30px;
        
    }
}
}

h3{
    color: wheat;
    font-family: 'Orbitron', sans-serif;
    margin-left: 2%;
  }
  
  table{
    background-color:#2a282a;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
    
  }
  td a {
    text-decoration: none;
    color: whitesmoke;
  }
  th, td{
    padding: 15px;
    color: whitesmoke;
    
  }
  
  thead {
    background-color:tomato;
    border-bottom: solid 5px black;
    color: whitesmoke;
    
  }
  
    tr:nth-child(even) {
        background-color: tomato;
    }
    tr:hover{
        background-color: #d63031;
        color: whitesmoke;
    }
 /* Contacto */

.contact-form {
    
        h3{
            color: white;
        }
}

.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form form .block {
    grid-column: 1 / 3;
}

.contact-form form p {
margin: 0;
padding: 1em;
color: tomato;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #ffffff;
    border-bottom: 1px solid tomato;
}

.contact-form form button {
background: tomato;
color: #2a282a;
border: 0;
text-transform: uppercase;
font-weight: bold;
padding: 1em;
}
.contact-form form button:hover,
.contact-form form button:focus {
    background: #d63031;
    color: #ffffff;
    transition: background-color 1s ease-out;
    outline: 0;
    cursor: pointer;
}

.contact-wrapper {
    display: grid;
    grid-template-columns: 1fr;  
    margin-left: 10%;
    margin-right: 10%;
    max-width: 80%;
    grid-template-columns: center;
}    

.contact-wrapper > * {
    padding: 2em;
    }

/*CARDS*/
.links2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
    -webkit-box-pack: flex-end;
    -ms-flex-pack: flex-end;
    justify-content: flex-end;
    a {
    margin: 0 10px;
    i {
    font-size: 3rem;}
  }
} 
  .links2 
  .links2 a 
  .card-title{
    -ms-flex-align: flex-start;
    margin-left: 0em;
  }    

 
  
