body {
  background-color: black;
}

/*Navegador*/
.Logogif {
  width: 300px;
  margin-left: 30px;
}

header {
  margin-top: 0em;
  left: 0;
  right: 0;
}

nav ul li {
  border-radius: 3px;
  font-family: 'Orbitron', sans-serif;
  margin-left: 30px;
}

nav ul li :hover {
  border-radius: 3px;
  background: tomato;
  color: white;
  -webkit-transition: background-color 0,5s;
  transition: background-color 0,5s;
  display: block;
}

/*Body*/
.img-fluid {
  border-radius: 10px;
}

.container-lg {
  background-color: #0e0a13;
}

.h2 {
  color: tomato;
  font-family: 'Orbitron', sans-serif;
}

.h4 {
  color: #aa9d70;
  font-family: 'Fjalla One', sans-serif;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.links a {
  margin: 0 10px;
}

.links a i {
  font-size: 3rem;
}

/*Footer*/
.ms-3 {
  color: tomato;
}

.footer-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-container ul li {
  line-height: 1.8;
}

.footer-container h2 h3 h4 h5 h6 {
  font-size: 20px;
}

.footer-links {
  background: black;
  color: tomato;
  font-size: 16px;
  padding: 10px 0;
}

.footer {
  background: #0e0a13;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 0;
  text-align: left;
  padding-bottom: 20px;
  margin: 0 auto;
}

/* Discografia */
.discos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
}

.discos a {
  margin-left: 10%;
  margin-right: 10%;
  max-width: 80%;
}

/* Social */
.social {
  margin: 50px;
}

.social p {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
  color: white;
}

/* Shows */
.shows ol li {
  font-size: 30px;
}

h3 {
  color: wheat;
  font-family: 'Orbitron', sans-serif;
  margin-left: 2%;
}

table {
  background-color: #2a282a;
  text-align: left;
  border-collapse: collapse;
  width: 100%;
}

td a {
  text-decoration: none;
  color: whitesmoke;
}

td a :hover {
  color: black;
}

th, td {
  padding: 15px;
  color: whitesmoke;
}

thead {
  background-color: tomato;
  border-bottom: solid 5px black;
  color: whitesmoke;
}

tr:nth-child(even) {
  background-color: tomato;
}

tr:hover {
  background-color: #d63031;
  color: whitesmoke;
}

/* Contacto */
.contact-form h3 {
  color: white;
}

.contact-form form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.contact-form form .block {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.contact-form form p {
  margin: 0;
  padding: 1em;
  color: tomato;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: .7em;
  border: none;
  background: none;
  outline: 0;
  color: #ffffff;
  border-bottom: 1px solid tomato;
}

.contact-form form button {
  background: tomato;
  color: #2a282a;
  border: 0;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
  background: #d63031;
  color: #ffffff;
  -webkit-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
  outline: 0;
  cursor: pointer;
}

.contact-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  margin-left: 10%;
  margin-right: 10%;
  max-width: 80%;
  
  -ms-grid-columns: center;
      grid-template-columns: center;
}

.contact-wrapper > * {
  padding: 2em;
}

/*CARDS*/
.links2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -webkit-box-pack: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end;
}

.links2 a {
  margin: 0 10px;
}

.links2 a i {
  font-size: 3rem;
}

.links2
.links2 a
.card-title {
  -ms-flex-align: flex-start;
  margin-left: 0em;
}
/*# sourceMappingURL=style.css.map */